[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
aws-lambda-powertools = { extras = ["tracer", "parser", "validation"], version = "*" }
boto3 = "*"
boto3-stubs = { extras = ["essential"], version = "*" }
moto = "*"
pytest = "*"
pytest-cov = "*"
pytest-mock = "*"

[requires]
python_version = "3.9"
